---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Chia-Hsiang Kao (高家祥)</div>
      <div style='font-size: 1.2em;'>
        Medical Student
      </div>
      <div style='font-size: 1.2em;'>
        Research Assistant
      </div>
      <div style='font-size: 1.2em'>
        <a href="mailto:0102030405jacky@gmail.com">Email</a>
      </div>
      <br/>
      <div style="padding: 0.1em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="https://github.com/IandRover/cv" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-code-fork"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/IandRover" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="http://www.facebook.com/jacky9191" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.com.tw/citations?user=W_i9B0sAAAAJ" target="_blank">
            <i class="ai ai-google-scholar"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/Aaron.jpg">
        <img src="/images/Aaron.jpg"
             width="150%" height="150%"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
{{ content }}
    </div>
  </div>
</div>
